@import "tailwindcss";
*{
    scrollbar-width: none;
}

.sidebar-bg-freeze::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(2px);
  z-index: 998; /* below sidebar */
}
